%font-12-regular {
    font-size: 1.2rem;
    font-weight: 400;   
}
%font-12-medium {
    font-size: 1.2rem;
    font-weight: 500;   
}
%font-12-semibold {
    font-size: 1.2rem;
    font-weight: 600;   
}
%font-12-bold {
    font-size: 1.2rem;
    font-weight: 700;   
}

%font-24-regular {
    font-size: 2.4rem;
    font-weight: 400;   
}
%font-24-medium {
    font-size: 2.4rem;
    font-weight: 500;   
}
%font-24-semibold {
    font-size: 2.4rem;
    font-weight: 600;   
}
%font-24-bold {
    font-size: 2.4rem;
    font-weight: 700;   
}